{% extends base_template %}

{% block content %}
    <h1>{{ user.username }}'s Profile</h1>  <!-- Displaying the user's name -->
    <h2>Your Fights</h2>
    
    {% if my_fights %}
        <ul>
            {% for fight in my_fights %}
                <li>
                    <h3>{{ fight.red_corner }} vs {{ fight.blue_corner }}</h3>  <!-- Assuming your Fight model has a title attribute -->
                    <p>Details: {{ fight.weight_class }} -{{ fight.styles }} - {{ fight.round }} </p>  <!-- Other attributes as necessary -->
                    <a href="{{ url_for('edit_item', user_id=user.id, fight_id=fight.id) }}">Edit</a>
                    <a href="{{ url_for('remove_item', user_id=user.id, item_id=fight.id) }}">Remove</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No fights found.</p>
    {% endif %}
{% endblock %}
